
h3 {
    font-family: Lato;
  }
  
  .ls-cover{
    background-color: rgba(175, 67, 5, 0.884);
    /* background-color: rgba(175, 5, 110, 0.884); */
  }
  .mr-cover{
    background-color: rgb(0, 0, 0);
  }
  
  .difficulty {
    margin: 2vh;
  }
  
  .levels{
    margin-right: 0.5em;
    border: none;
    margin-left: 0.5em;
    background-color: rgb(206, 228, 85);
    border-radius: 0.4em;
    padding: 0.1em 1.2em;
  
  }
  
  .winner{
    /* background-color: green; */
    color: green;
    font-weight: 900;
  }

  .loser{
    /* background-color: orangered; */
    color: orangered;
    font-weight: 900;
  }

  .submitButton{
    background-color: rgba(175, 67, 5, 0.884);
    border-color: rgba(175, 67, 5, 0.884);
  }
  
  .lvl-Sel{
    background-color: rgb(180, 180, 180);
    border-color: rgb(180, 180, 180);
    color: black;
    font-weight: 600;
  }

  .cellPadRight{
    padding-right: 0.4em;
  }
  .cellPadBottom{
    padding-bottom: 0.4em;
  }

.cellWithZero{
  /* color: red; */
   opacity: 0;
}
/* .parentOfGrid{
  background-color: red;
  width: 0px
} */